div.container {
	width: 100%;
	border: 1px black;
}

div.navigation {
	float: left;
	max-width: 100px;
	margin: 0;
}

header {
	height: 200px;
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

header h1 {
	font-size: 450%;
	text-align: center;
}

footer {
	clear: left;
	position: fixed;
	bottom: 0px;
}

nav {
	font-size: 120%;
	padding: 1em;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	margin-bottom: 20px;
}

article {
	margin-left: 300px;
	border-left: 1px black;
	padding: 1em;
	overflow: scroll;
}

div.content {
	font-size: 120%;
}

#divider {
	background: white;
	float: left;
	height: 420px;
	border-left: 2px black solid;
	right: 1px;
	margin-right: 20px;
}

#profile_pic {
	width: 22%;
	height: 100%;
	float: left;
}
