div.container {
	width: 100%;
	border: 1px black;
}

div.navigation {
	float: left;
	max-width: 100px;
	margin: 0;
	font-family: sans-serif;
}

header {
	height: 28vh;
	padding: 1em;
	color: white;
	background-color: #081040;
	clear: left;
	text-align: center;
}

header h1 {
	font-size: 450%;
	text-align: center;
	font-family: serif;
}

body {
	height: 100%;
}

footer {
	clear: left;
	position: fixed;
	bottom: 0;
}

nav {
	font-size: 120%;
	padding: 1em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-left: 20px;
	margin-top: 40px;
}

nav ul li {
	margin-bottom: 50px;
}

article {
	margin-left: 300px;
	border-left: 1px black;
	padding: 3em;
	overflow: hidden;
}

article div {
	font-size: 120%;
	font-family: sans-serif;
	line-height: 2.5;
}

div#divider {
	background: white;
	float: left;
	height: 62vh;
	border-left: 2px black solid;
	right: 1px;
	margin-top: 15px;
	margin-left: 200px;
	margin-right: 15px;
	min-height: 100%;
}

#profile_pic {
	width: 18%;
	height: 98%;
	float: left;
	border-radius: 50%;
	margin-left: 40px;
}
